@model FahasaStoreClientApp.Models.CustomModels.PaginatedResponse<FahasaStoreClientApp.Models.DTO.CartItemDTO>

<div class="dropdown cart my-1">
    <div title="Cart" data-bs-toggle="dropdown" aria-expanded="false" class="car-btn py-2 d-flex flex-column align-items-center fw-bold text-black-50 pe-3" role="button">
        <div class="position-relative">
            <i class="bi bi-cart"></i>
            @if (Model.Items.Count > 0)
            {
                <span class="position-absolute top-0 start-100 translate-middle-y translate-middle badge rounded-pill bg-danger ">
                    @Model.TotalItemCount
                    <span class="visually-hidden">unread messages</span>
                </span>
            }
        </div>
        <span class="d-none d-lg-block">Giỏ hàng</span>
    </div>
    <div class="dropdown-menu dropdown-menu-end shadow py-0" style="width: 360px;">
        <div class="d-flex justify-content-between border-bottom align-items-center">
            <div class="px-3 py-2 fw-bold">
                <i class="bi bi-cart"></i>
                <span>Giỏ hàng</span>
            </div>
            <a href="/User/Cart" class="px-3 py-2 text-decoration-none fw-bold">Xem giỏ hàng</a>
        </div>
        <ul class="list-group" style="min-height: 360px;">

            @{
                if (Model.Items.Count > 0)
                {
                    foreach (var item in Model.Items)
                    {
                        <li class="list-group-item border-0 p-0">
                            <a href="/User/Cart" class="dropdown-item list-group-item rounded-3 border-0">
                                <div class="d-flex align-items-center">
                                    <img src="@item.Book.PosterImages.FirstOrDefault()?.ImageUrl" width="50" height="80" class="me-2" style="object-fit: contain;">
                                    <div class="text-truncate">
                                        <h6 class="text-truncate">@item.Book.Name</h6>
                                        <span class="fw-bold">
                                            @((item.Book.Price - (item.Book.Price * item.Book.DiscountPercentage / 100)).ToString("0"))
                                        </span><span> x @item.Quantity</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                }
                else
                {
                    <div class="text-center my-auto">Không có sản phẩm nào</div>
                }
            }
        </ul>
    </div>
</div>