@using FahasaStoreClientApp.Models.DTO
@using FahasaStoreClientApp.Models.EModels
@model OrderModel
@{
    var paymentMethods = ViewData["paymentMethods"] as List<PaymentMethodDTO>;
    var cartItems = ViewData["cartItems"] as List<CartItemDTO>;
    var totalMoney = ViewData["totalMoney"] as int?;
    
}
<form asp-action="Order">
    <div id="Payment" class="bg-black bg-opacity-10">
        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">@Html.DisplayNameFor(model => model.AddressId)</h6> <hr />
                <div class="d-flex justify-content-start">
                    <div>
                        <div class="input-group">
                            <select asp-for="AddressId" class="form-control" asp-items="ViewBag.address"></select>
                            <span asp-validation-for="AddressId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">@Html.DisplayNameFor(model => model.PaymentMethodId)</h6> <hr />
                <div>
                    @{
                        if (paymentMethods != null && paymentMethods.Count > 0)
                        {

                            <div class="form-group form-check">
                                <label class="form-check-label w-100 py-2">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz5ldDnp_AyQBZVfsCFGCTsl0Bm7VfqpuNMdwp7h8ElQ&s" width="30" height="30" class="object-fit-contain mx-2" />
                                    <input class="form-check-input" asp-for="PaymentMethodId" type="radio" checked value="@paymentMethods.FirstOrDefault()?.Id" /> @paymentMethods.FirstOrDefault()?.Name
                                </label>
                            </div>
                            foreach (var paymentMethod in paymentMethods.Skip(1).Take(4))
                            {
                                <div class="form-group form-check">
                                    <label class="form-check-label w-100 py-2">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz5ldDnp_AyQBZVfsCFGCTsl0Bm7VfqpuNMdwp7h8ElQ&s" width="30" height="30" class="object-fit-contain mx-2" />
                                        <input class="form-check-input" asp-for="PaymentMethodId" type="radio" value="@paymentMethod.Id" /> @paymentMethod.Name
                                    </label>
                                </div>
                            }
                        }
                    }
                    <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">Khuyến mãi đã áp dụng</h6> <hr />
                <div>
                    @* <span class="text-black text-opacity-75">Chưa sử dụng khuyến mãi nào</span> *@
                    <div class="row row-cols-md-2 g-3">
                        <div class="">
                            <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                <div class="flex-grow-1">
                                    <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#voucher2Modal">Chi tiết</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="voucher2Modal" tabindex="-1" aria-labelledby="voucher1ModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-uppercase" id="voucher1ModalLabel">Chi tiết mã giảm giá</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k</p>
                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <div class="">
                            <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                                <img src="~/image/voucher.png" width="100" height="100" class="object-fit-contain me-2" />
                                <div class="flex-grow-1">
                                    <div class="oneLine text-uppercase fw-bold">mã giảm giá 10k - đơn hàng từ 150k</div>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <small role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#voucher2Modal">Chi tiết</small>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="voucher2Modal" tabindex="-1" aria-labelledby="voucher1ModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-uppercase" id="voucher1ModalLabel">Chi tiết mã giảm giá</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="btn btn-outline-success">mã giảm giá 10k - đơn hàng từ 150k</p>
                                            <p>- Điều kiện áp dụng: áp dụng cho đơn hàng từ 150K, không áp dụng cho đơn hàng có sản phẩm Phiếu Quà Tặng</p>
                                            <p>- Thời gian áp dụng: Đến hết Tháng 3/2024</p>
                                            <p>- Khách hàng có thể áp dụng cùng lúc với mã giảm phí vận chuyển</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">Kiểm tra lại đơn hàng</h6> <hr />
                <div>
                    @{
                        if (cartItems != null && cartItems.Count > 0)
                        {
                            foreach (var cartItem in cartItems)
                            {
                                var currentPrice = cartItem.Book.Price - cartItem.Book.Price * cartItem.Book.DiscountPercentage / 100;
                                var money = currentPrice * cartItem.Quantity;
                                <input name="cartItemIds" type="checkbox" checked value="@cartItem.Id" hidden />
                                <div class="d-flex mb-3">
                                    <img src="@cartItem.Book.PosterImages.FirstOrDefault()?.ImageUrl" width="120" height="120" class="object-fit-contain mx-2" />
                                    <div class="flex-grow-1">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <span class="text-truncatet-row-double">@cartItem.Book.Name</span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="fw-bold">@currentPrice.ToString("N0") đ</span> <br class="d-none d-md-block" />
                                                <span class="text-decoration-line-through">@cartItem.Book.Price.ToString("N0") đ</span>
                                            </div>
                                            <div class="col-md-1">
                                                x @cartItem.Quantity
                                            </div>
                                            <div class="col-md-2">
                                                <h6 class="text-danger fw-bold">@money.ToString("N0") đ</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">@Html.DisplayNameFor(model => model.Note) (nếu có)</h6> <hr />
                <div>
                    <textarea asp-for="Note" class="w-100 rounded-3 p-3" placeholder="Ghi chú"></textarea>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">Xác nhận thanh toán</h6> <hr />
                <div class="d-flex justify-content-end">
                    <div>
                        <div class="d-flex align-items-center">
                            <span>Tổng tiền:</span>
                            <h6 class="text-danger fw-bold mx-3 my-0 fs-5">@((totalMoney != null) ? totalMoney.Value.ToString("N0") : "Error total money") đ</h6>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-danger">Xác nhận thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
