@model FahasaStoreClientApp.Models.DTO.OrderDTO

<div>
    <!-- Button trigger modal -->
    <button type="button" id="btn-toggle" class="btn btn-primary" hidden data-bs-toggle="modal" data-bs-target="#appModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="appModal" tabindex="-1" aria-labelledby="appModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="appModalLabel">Thông tin chi tiết</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="d-flex justify-content-between py-3">
                            <div><strong>Mã đơn hàng #@Model.Id</strong></div>
                            <div>Ngày mua: @((Model.CreatedAt != null) ? Model.CreatedAt.Value.ToString("dd/MM/yyyy") : "Không có ngày tạo")</div>
                        </div>
                        <div class="py-3 rounded-3" style="background-color: antiquewhite;">
                            <div class="row text-center">
                                @{
                                    if (Model.OrderStatuses.Count > 0)
                                    {
                                        foreach (var item in Model.OrderStatuses)
                                        {
                                            <div class="col">
                                                <div>@item.Status.Name</div>
                                                <div>@((item.CreatedAt != null) ? item.CreatedAt.Value.ToString("dd/MM/yyyy") : "Không có ngày tạo")</div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 g-3 py-3">
                            <div>
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Thông tin người nhận</h6>
                                        <div>
                                            <div>@Model.Address.ReceiverName</div>
                                            <div>Tel: @Model.Address.Phone</div>
                                            <div>@Model.Address.Detail , @Model.Address.Ward, @Model.Address.District , @Model.Address.Province</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Phương thức thanh toán</h6>
                                        <div>@Model.PaymentMethod.Name</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h6 class="card-title">Tổng tiền</h6>
                                        <div>Tổng tiền: <span class="text-danger fw-bold">@Model.OrderItems.Sum(e => (e.Book.Price - e.Book.Price * e.Book.DiscountPercentage / 100) * e.Quantity).ToString("N0") đ</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-3 rounded-3" style="border: 1px solid #dee2e6;">
                            Ghi chú: @Model.Note
                        </div>
                        <div class="py-3 rounded-3">
                            <h6>Sản phẩm (@Model.OrderItems.Count)</h6>
                            <div class="row g-3">
                                <div>
                                    <div class="row">
                                        <div class="col-2 text-center"><strong>Hình ảnh</strong></div>
                                        <div class="col-5"><strong>Tên sản phẩm</strong></div>
                                        <div class="col-2 text-center"><strong>Giá bán</strong></div>
                                        <div class="col-1 text-center"><strong>SL</strong></div>
                                        <div class="col-2 text-center"><strong>Thành tiền</strong></div>
                                    </div>
                                </div>
                                @{
                                    if (Model.OrderItems.Count > 0)
                                    {
                                        foreach (var oi in Model.OrderItems)
                                        {
                                            var currentPrice = oi.Book.Price - oi.Book.Price * oi.Book.DiscountPercentage / 100;
                                            var money = currentPrice * oi.Quantity;
                                            <div>
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="position-relative" style="padding-bottom: 100%;">
                                                            <img src="@oi.Book.PosterImages.FirstOrDefault()?.ImageUrl" class="position-absolute object-fit-contain mx-2 w-100 h-100" />
                                                        </div>
                                                    </div>
                                                    <div class="col-5">
                                                        <span class="text-truncatet-row-double">@oi.Book.Name</span>
                                                    </div>
                                                    <div class="col-2 text-center">
                                                        <span class="fw-bold">@currentPrice.ToString("N0") đ</span> <br class="d-none d-md-block" />
                                                        <span class="text-decoration-line-through">@oi.Book.Price.ToString("N0") đ</span>
                                                    </div>
                                                    <div class="col-1 text-center">@oi.Quantity</div>
                                                    <div class="col-2 text-center"><h6 class="text-danger fw-bold">@money.ToString("N0") đ</h6></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn-toggle").click();
</script>
