@using FahasaStoreClientApp.Components
@using FahasaStoreClientApp.Models
@model FahasaStoreClientApp.Models.StatusOrder
@{  
    var orderDetail1 = new OrderDetail(1, "Ghi chép pháp y", "/image/fs1.jpg", 99000, 560000, 1, 99000);
    var orderDetail12 = new OrderDetail(2, "Ghi chép pháp y 2", "/image/fs2.jpg", 99000, 560000, 2, 198000);
    var ordersDetail = new List<OrderDetail>();
    ordersDetail.Add(orderDetail1);
    ordersDetail.Add(orderDetail12);

    var voucher = new Voucher(1, "code 2025", "2025code", "giam 50%", 10, new DateTime(2024, 4, 30), 10000, 200000, 99);

    var order = new Order(1, new DateTime(2024, 4, 30), "Trình", 98000, "Hoàn thành", ordersDetail, voucher, 20000);
}
<div class="bg-black bg-opacity-10">
    <div class="container pt-4">
        <div class="bg-white rounded-3 py-3">
            <div class="row">
                <div class="col-lg-3">
                    @(await Html.RenderComponentAsync<SideBarUser>(RenderMode.ServerPrerendered, new { active = 4 }))
                </div>
                <div class="col-lg-9 px-4">
                    <h5 class="text-uppercase">Chi tiết đơn hàng</h5><hr />
                    <div>
                        <div>
                            <a href="" class="rounded-pill btn btn-outline-danger px-3 py-1">Đơn hàng bị hủy</a>
                            <a href="#" class="rounded-pill btn btn-danger px-3 py-1">Mua lại</a>
                            <a href="" class="rounded-pill btn btn-outline-warning px-3 py-1">Đang giao</a>
                            <a href="" class="rounded-pill btn btn-outline-success px-3 py-1">Hoàn thành</a>
                        </div>
                        
                        <div class="row g-2 my-3">
                            <div>Mã đơn hàng: @order.OrderId</div>
                            <div>Ngày mua: @order.OrderDate</div>
                            <div>Tổng tiền: @order.TotalAmount</div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 g-3 my-3">
                            <div>
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Địa chỉ</h5>
                                        @(await Html.RenderComponentAsync<AddressComponent>(RenderMode.ServerPrerendered, new { allowEditor = false}))
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Vận chuyển</h5>
                                        <div>Giao hàng tiêu chuẩn</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Thanh toán</h5>
                                        <div>Thanh toán khi nhận hàng</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            @(await Html.RenderComponentAsync<OrdersPreViewComponent>(RenderMode.ServerPrerendered, new { order = order }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}