@using FahasaStoreClientApp.Components
@using FahasaStoreClientApp.Models.DTO
@model FahasaStoreClientApp.Models.CustomModels.PaginatedResponse<ReviewDTO>
@{

}
<div class="bg-black bg-opacity-10">
    <div class="container pt-4">
        <div class="bg-white rounded-3 py-3">
            <div class="row">
                <div class="col-lg-3">
                    @(await Html.RenderComponentAsync<SideBarUser>(RenderMode.ServerPrerendered, new { active = 4 }))
                </div>
                <div class="col-lg-9 px-4">
                    <h5 class="text-uppercase">Nhận xét của tôi</h5><hr />
                    @{
                        if (Model.Items.Count > 0)
                        {
                            <div class="row g-3">
                                <div>
                                    <div class="row">
                                        <div class="col-2 d-none d-sm-block"><strong>Ngày</strong></div>
                                        <div class="col-4 col-sm-3"><strong>Sách</strong></div>
                                        <div class="col-2"><strong>Đánh giá</strong></div>
                                        <div class="col-4 col-sm-3"><strong>Nội dung</strong></div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                @foreach (var review in Model.Items)
                                {
                                    <div>
                                        <div class="row">
                                            <div class="col-2 d-none d-sm-block">
                                                @((review.CreatedAt != null) ? review.CreatedAt.Value.ToString("dd/MM/yyyy") : "Không có ngày tạo")
                                            </div>
                                            <div class="col-4 col-sm-3"><a href="/Home/Product/@review.Book.Id" class="nav-link twoLine">@review.Book.Name</a></div>
                                            <div class="col-2">
                                                @{
                                                    for (int rate = 1; rate <= 5; rate++)
                                                    {
                                                        if (review.Rating >= rate)
                                                        {
                                                            <span style="color: gold">★</span>
                                                        }
                                                        else
                                                        {
                                                            <span>★</span>
                                                        }
                                                    }
                                                }
                                            </div>
                                            <div class="col-4 col-sm-3"><span class="text-truncatet-row-double">@review.Comment</span></div>
                                            <div class="col-2">
                                                <a href="/User/EditReview" IdValue="@review.Id" onclick="HandlerCRUD(this, event)" class="nav-link"><i class="bi bi-pencil"></i></a>
                                                <a href="/User/DeleteReview" IdValue="@review.Id" onclick="HandlerCRUD(this, event)" class="nav-link"><i class="bi bi-trash3"></i></a>
                                            </div>
                                        </div>
                                    </div> 
                                }
                                @if (Model.PageCount > 1)
                                {
                                    <nav>
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                                <a class="page-link" href="@Url.Action("Reviews", new { page = 1 })">First</a>
                                            </li>
                                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                                <a class="page-link" href="@Url.Action("Reviews", new { page = Model.PageNumber - 1 })">Previous</a>
                                            </li>

                                            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link @(Model.PageNumber == i ? "active" : "")" href="@Url.Action("Reviews", new { page = i })">@i</a>
                                                </li>
                                            }

                                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                                <a class="page-link" href="@Url.Action("Reviews", new { page = Model.PageNumber + 1 })">Next</a>
                                            </li>
                                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                                <a class="page-link" href="@Url.Action("Reviews", new { page = Model.PageCount })">Last</a>
                                            </li>
                                        </ul>
                                    </nav>
                                }
                            </div>
                            
                        }
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
}
