@using FahasaStoreClientApp.Models

<div class="row row-cols-6 mb-3">
    <div><strong>Mã đơn hàng</strong></div>
    <div><strong>Ngày mua</strong></div>
    <div><strong>Người nhận</strong></div>
    <div><strong>Tổng Tiền</strong></div>
    <div><strong>Trạng thái</strong></div>
    <div></div>
</div>
@if (orders != null)
{
    foreach(var order in orders)
    {
        <div class="row row-cols-6 mb-3">
            <div>@order.OrderId</div>
            <div>@order.OrderDate</div>
            <div>@order.Receiver</div>
            <div>@order.TotalAmount</div>
            <div>@order.Status</div>
            <div><a href="/User/OrderDetail" class="nav-link"><strong>Xem</strong></a></div>
        </div>
    }
}
<div>

</div>



@code {
    [Parameter]
    public IEnumerable<Order>? orders { get; set; }
}
