@using FahasaStoreClientApp.Models.CustomModels
@using FahasaStoreClientApp.Models.DTO
@using FahasaStoreClientApp.Models.EModels
@model FahasaStoreClientApp.Models.CustomModels.BookFilterOptions
@{
    var categories = ViewData["categories"] as List<CategoryDTO>;
    var partnerTypes = ViewData["partnerTypes"] as List<PartnerTypeDTO>; 
    var authors = ViewData["authors"] as List<AuthorDTO>;
    var coverTypes = ViewData["coverTypes"] as List<CoverTypeDTO>;
    var filterOptions = ViewData["filterOptions"] as BookFilterOptions;

    var categoryChecked = 0;
    var subCategoryChecked = 0;
    if (filterOptions != null)
    {
        if (filterOptions.CategoryId != null && filterOptions.CategoryId.HasValue)
        {
            categoryChecked = (int)filterOptions.CategoryId;
        }
        if (filterOptions.SubcategoryId != null && filterOptions.SubcategoryId.HasValue)
        {
            subCategoryChecked = (int)filterOptions.SubcategoryId;
        }
    }
}
<div id="Fillter" class="bg-black bg-opacity-10">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="pt-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bộ lọc</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="bg-white rounded-3 p-3">
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Bộ lọc</button>
                    <div class="offcanvas-lg offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form asp-action="FilterResult" class="w-100" id="filterForm">
                                <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="text-uppercase text-fahasa m-0">Lọc theo</h5>
                                        <a class="nav-link" id="resetAll" href="#">Đặt lại toàn bộ</a>
                                    </div>
                                    <hr />
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h6 class="text-uppercase mb-0">@Html.DisplayNameFor(model => model.CategoryId)</h6>
                                            <a class="nav-link py-1 reset-filter" data-subfilter="SubcategoryId" data-filter="CategoryId" href="#">Đặt lại</a>
                                        </div>
                                        <div class="accordion" id="accordionCategoryFilter">
                                            @{
                                                if (categories != null && categories.Count > 0)
                                                {
                                                    foreach (var category in categories)
                                                    {
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory_@category.Id" aria-expanded="true" aria-controls="collapseCategory_@category.Id">
                                                                    @category.Name
                                                                </button>
                                                            </h2>
                                                            <div id="collapseCategory_@category.Id" class="accordion-collapse collapse" data-bs-parent="#accordionCategoryFilter">
                                                                <div class="accordion-body">
                                                                    @{
                                                                        <div class="form-group form-check">
                                                                            <label class="form-check-label w-100 py-2">
                                                                                @if (categoryChecked == category.Id)
                                                                                {
                                                                                    <input class="form-check-input" asp-for="CategoryId" type="radio" value="@category.Id" checked /> @category.Name
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input class="form-check-input" asp-for="CategoryId" type="radio" value="@category.Id"/> @category.Name
                                                                                }

                                                                            </label>
                                                                        </div>
                                                                        if (category.Subcategories.Count > 0)
                                                                        {
                                                                            foreach (var subcategory in category.Subcategories)
                                                                            {
                                                                                <div class="form-group form-check">
                                                                                    <label class="form-check-label w-100 py-2">
                                                                                        @if (subCategoryChecked == subcategory.Id)
                                                                                        {
                                                                                            <input class="form-check-input" asp-for="SubcategoryId" type="radio" value="@subcategory.Id" checked /> @subcategory.Name
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input class="form-check-input" asp-for="SubcategoryId" type="radio" value="@subcategory.Id" /> @subcategory.Name
                                                                                        }
                                                                                    </label>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h6 class="text-uppercase mb-0">@Html.DisplayNameFor(model => model.MinPrice)</h6>
                                            <a class="nav-link py-1 reset-filter" data-filter="MinPrice" href="#">Đặt lại</a>
                                        </div>
                                        <div class="p-3 border rounded-3">
                                            @for (int price = 0; price < 6; price++)
                                            {
                                                var minPrice = price * 100000;
                                                <div class="form-group form-check">
                                                    <label class="form-check-label w-100 py-2">
                                                        <input class="form-check-input" asp-for="MinPrice" type="radio" value="@minPrice" /> @minPrice.ToString("N0") đ
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h6 class="text-uppercase mb-0">@Html.DisplayNameFor(model => model.PartnerId)</h6>
                                            <a class="nav-link py-1 reset-filter" data-subfilter="PartnerId" data-filter="PartnerTypeId" href="#">Đặt lại</a>
                                        </div>
                                        <div class="accordion" id="accordionPartnerFilter">
                                            @{
                                                if (partnerTypes != null && partnerTypes.Count > 0)
                                                {
                                                    foreach (var partnerType in partnerTypes)
                                                    {
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartner_@partnerType.Id" aria-expanded="true" aria-controls="collapsePartner_@partnerType.Id">
                                                                    @partnerType.Name
                                                                </button>
                                                            </h2>
                                                            <div id="collapsePartner_@partnerType.Id" class="accordion-collapse collapse" data-bs-parent="#accordionPartnerFilter">
                                                                <div class="accordion-body">
                                                                    @{
                                                                        <div class="form-group form-check">
                                                                            <label class="form-check-label w-100 py-2">
                                                                                <input class="form-check-input" asp-for="PartnerTypeId" type="radio" value="@partnerType.Id" /> @partnerType.Name
                                                                            </label>
                                                                        </div>
                                                                        if (partnerType.Partners.Count > 0)
                                                                        {
                                                                            foreach (var partner in partnerType.Partners)
                                                                            {
                                                                                <div class="form-group form-check">
                                                                                    <label class="form-check-label w-100 py-2">
                                                                                        <input class="form-check-input" asp-for="PartnerId" type="radio" value="@partner.Id" /> @partner.Name
                                                                                    </label>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h6 class="text-uppercase mb-0">@Html.DisplayNameFor(model => model.AuthorId)</h6>
                                            <a class="nav-link py-1 reset-filter" data-filter="AuthorId" href="#">Đặt lại</a>
                                        </div>
                                        <div class="p-3 border rounded-3">
                                            @{
                                                if (authors != null && authors.Count > 0)
                                                {
                                                    foreach (var author in authors)
                                                    {
                                                        <div class="form-group form-check">
                                                            <label class="form-check-label w-100 py-2">
                                                                <input class="form-check-input" asp-for="AuthorId" type="radio" value="@author.Id" /> @author.Name
                                                            </label>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h6 class="text-uppercase mb-0">@Html.DisplayNameFor(model => model.CoverTypeId)</h6>
                                            <a class="nav-link py-1 reset-filter" data-filter="CoverTypeId" href="#">Đặt lại</a>
                                        </div>
                                        <div class="p-3 border rounded-3">
                                            @{
                                                if (coverTypes != null && coverTypes.Count > 0)
                                                {
                                                    foreach (var coverType in coverTypes)
                                                    {
                                                        <div class="form-group form-check">
                                                            <label class="form-check-label w-100 py-2">
                                                                <input class="form-check-input" asp-for="CoverTypeId" type="radio" value="@coverType.Id" /> @coverType.TypeName
                                                            </label>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="d-flex justify-content-end">
                        <div>
                            <div class="input-group">
                                <select asp-for="SortBy" class="form-select">
                                    <option value="">-- Sắp xếp theo --</option>
                                    <option value="@nameof(BookModel.Price)">Theo Giá</option>
                                    <option value="@nameof(BookModel.Name)">Theo Tên</option>
                                    <option value="@nameof(BookModel.CreatedAt)">Sách Mới</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="filterResults"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        submitForm(1);
        UpdateFormFilter();

        function UpdateFormFilter() {
            $('input[type="radio"]').each(function () {
                if ($(this).is(':checked')) {
                    var parentAccordionItem = $(this).closest('.accordion-item');

                    if (parentAccordionItem.length) {
                        var accordionButton = parentAccordionItem.find('button.accordion-button.collapsed');

                        accordionButton.removeClass('collapsed');

                        var accordionCollapse = parentAccordionItem.find('div.accordion-collapse.collapse');

                        accordionCollapse.addClass('show');
                    }
                }
            });
        }


        function submitForm(page) {

            const $form = $('#filterForm');
            const formData = $form.serializeArray();
            const sortBy = $('select[name="SortBy"]').val();
            const search = $('input[name="Search"]').val();

            formData.push({ name: "page", value: page });
            formData.push({ name: "SortBy", value: sortBy });
            formData.push({ name: "Search", value: search });

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: formData,
                success: function (html) {
                    $('#filterResults').html(html);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function resetFilter(filterName) {
            $('input[name="' + filterName + '"]').prop('checked', false);
            submitForm(1);
        }

        function resetAllFilters() {
            $('input[type="radio"]').prop('checked', false);
            submitForm(1);
        }

        // Attach event handlers
        $(document).ready(function () {
            $('input[type="radio"]').on('change', submitForm);
            $('.reset-filter').on('click', function (e) {
                e.preventDefault();
                resetFilter($(this).data('filter'));
                resetFilter($(this).data('subfilter'));
            });
            $('#resetAll').on('click', function (e) {
                e.preventDefault();
                resetAllFilters();
            });
            $('select[name="SortBy"]').change(function () {
                submitForm(1);
            });
        });
    </script>
}

